/* base */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

/* html {
  min-height: 100vh;
  background-color: #f0f2f5;
} */

html {
  background-color: #fff;
  font-size: 8px;
}

/* body style */
body {
  font-family:
    PingFangSC-Regular,
    PingFang SC,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    Helvetica,
    Arial,
    'Hiragino Sans GB',
    'Source Han Sans',
    'Noto Sans CJK Sc',
    'Microsoft YaHei',
    'Microsoft Jhenghei',
    sans-serif;
  color: #000;
  background: #fafafa;
  min-height: 100vh;
}

body {
  font-size: 18px;
  line-height: 1.5;
}

/* For mobile devices */
@media (max-width: 767px) {
  body {
    -webkit-overflow-scrolling: touch;
    font-size: 0.4rem; /* 30/75 rem */
    line-height: 1.5;
  }
}

input,
select,
textarea {
}

.table th {
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  color: #303133;
  text-decoration: none;
}

/* h5 only */
/* a {
  text-decoration: none;
} */

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 默认placeholder颜色 */
::-webkit-input-placeholder {
  color: #c0c4cc;
}

/* Base font size for desktop */
body * {
  font-family:
    PingFangSC,
    PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 24px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  /* overflow:auto; */
}

/* For mobile devices */
@media (max-width: 767px) {
  body * {
    font-size: 1.75rem;
    line-height: 2.81rem;
  }

  .page-container {
    width: 43rem;
    margin: 0 auto;
    padding: 0;
  }
}

/* background */
#__nuxt * {
  background-size: cover;
  /* background-size: 100% 100%; */
}
