@primary-color: #42b983;

// body {
//   font-family: Arial, sans-serif;
//   color: @primary-color;
// }

.trail-btn {
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background: #FFFFFF;
  border-radius: 25px;
  border: 2px solid rgba(70, 207, 58, 1);
  align-items: center;
  justify-content: center;
  font-family: Mont, Mont;
  font-weight: 600;
  font-size: 16px;
  
  line-height: 50px;
}

// For mobile devices
@media (max-width: 767px) {
  .trail-btn {
    height: 4.63rem;
    padding: 0 1.87rem;
    font-size: 1.63rem;

    line-height: 4.63rem;
  }
}